# File sourced from https://github.com/ystorian/template
# Format: https://editorconfig.org/

# top-most EditorConfig file.
root = true

# All files.
[*]
# Set default charset to utf-8.
charset = utf-8

# Unix-style newlines with a newline ending every file.
end_of_line = lf
insert_final_newline = true

# Remove trailing whitespace.
trim_trailing_whitespace = true

# Use tab indentation.
indent_style = tab
# Tab width will use the editor default.
tab_width = unset

# Markdown files.
[**.md]
# Do not remove trailing whitespace for Markdown files.
trim_trailing_whitespace = false
