{% extends "base.html" %}

{% import "macro/blog.html" as blog %}

{% block content %}
<!-- taxonomy_single.html -->
	{% if not title %}
	{% set title = taxonomy.name ~ ": " ~ term.name | capitalize %}
	{% endif %}
	{{ blog::hero(title = title, primary = false) }}
	<div class="container">
		{% if paginator %}
		{{ blog::list_articles(pages = paginator.pages) }}
		{% else %}
		{{ blog::list_articles(pages = term.pages) }}
		{% endif %}
		{% if paginator %}
		{{ blog::paginate(paginator = paginator) }}
		{% endif %}
	</div><!-- /container -->
<!-- /taxonomy_single.html -->
{% endblock content %}
