{% extends "base.html" %}


{# Title #}
{% block title %}<title>Page not found</title>{% endblock title %}

{# Navbar without padding #}
{% block navbar %}
{{ base::navbar(padding = false) }}
{% endblock navbar %}

{# Page heading #}

{% block content %}
<!-- 404.html -->
<section class="hero is-halfheight-with-navbar">
	<div class="hero-body">
		<div class="container">
			<div class="columns is-vcentered is-mobile">
				<div class="column is-3">{{ insert::svg(image="warning") }}</div>
				<div class="column is-9">
					<div lang="en">
						<p class="title is-1">Page not found</p>
						<p>The requested page does not exist or has been moved to another address.</p>
					</div>
					{%- for language in config.extra.error_404 %}
					<div lang="{{ language.lang }}" class="is-hidden">
						<p class="title is-1">{{ language.title }}</p>
						<p>{{ language.text }}</p>
					</div>
					{%- endfor %}
				</div><!-- /column -->
			</div><!-- /columns -->
		</div><!-- /container -->
	</div><!-- /hero-body -->
</section>
<!-- /404.html -->
{% endblock content %}

{%- macro lang_tag(tag) %}
<span class="tag is-info is-light">{{ tag }}</span>
{%- endmacro lang_tag %}
