{% import 'macro/base.html' as base %}

<!doctype html>
<html lang="{{ lang }}">
{{- head::head() }}

{% block body %}
{{- html::block(block = 'base.html/body') }}
{{- html::body() }}
{{- html::endblock(block = 'base.html/body') }}
{% endblock body %}


{% block navbar %}
{{- html::block(block = 'base.html/navbar') }}
{{- navbar::navbar(padding=true, is_hero=false) }}
{{- html::endblock(block = 'base.html/navbar') }}
{% endblock navbar %}

{{ html::comment(comment = 'Main') }}

<main><!-- base.html/main -->

{% block content %}
{{- html::block(block = 'base.html/content') }}
{{- html::endblock(block = 'base.html/content') }}
{% endblock content %}

</main><!-- /base.html/main -->

{% block footer %}
{{- html::block(block = 'base.html/footer') }}
{{ footer::footer() }}
{{- html::endblock(block = 'base.html/footer') }}
{% endblock footer %}

</body><!-- /base.html/body -->
</html><!-- /base.html/html -->

{%- if config.mode | lower == 'serve' %}
{{ html::comment(comment = 'Tera context') }}
<!-- {{ __tera_context }} -->
{%- endif %}
