{% import 'macro/base.html' as base %}

<!doctype html>
<html lang="{{ lang }}">
{{- head::head() }}

{{ html::comment(comment = 'Body') }}

<!-- base.html/body -->
<body class="has-navbar-fixed-top">


{% block navbar %}
{{ navbar::navbar() }}
{% endblock navbar %}

{{ html::comment(comment = 'Main') }}

<!-- base.html/main -->
<main>
	{% block content %}
	{% endblock content %}
</main><!-- /base.html/main -->

{{ html::comment(comment = 'Footer') }}

{{ footer::footer() }}

</body><!-- /base.html/body -->
</html><!-- /base.html/html -->

{% if config.mode | lower == 'serve' %}
{{ html::comment(comment = 'Tera context') }}
<!-- {{ __tera_context }} -->
{% endif %}
