{% extends 'base.html' %}

{% block body %}
{{ html::comment(comment = 'Landing body block') }}
{{ html::body(class = '') }}
{% endblock body %}

{% block content %}
<!-- landing.html/content -->
<section class="hero is-fullwidth is-fullheight is-overlay has-background">
	<!-- TODO: #1 Add a CSS class for non-draggable background images -->
	<img alt="" class="hero-background is-transparent is-unselectable" draggable="false" src="{{ get_url(path = 'image/background-stretched-square.svg') }}" />
	<!-- Hero head: will stick at the top -->
	<div class="hero-head">
		{% block navbar %}
		{{ html::comment(comment = 'Landing navbar block') }}
		{{ navbar::navbar(padding=false, is_hero=true) }}
		{% endblock navbar %}

	</div>

	<!-- Hero content: will be in the middle -->
	<div class="hero-body">
		<div class="container">
			<p class="title">{{ head::title() }}</p>
			<div class="content article-body">
			{%- if section.title %}
			{{ section.title | safe }}
			{%- endif %}
			{%- if section.content %}
			{{ section.content | safe }}
			{%- endif %}
			</div><!-- /content -->

		</div><!-- /container -->
	</div><!-- /hero-body -->

	<!-- Hero footer: will stick at the bottom -->
	<div class="hero-foot">
		{% block footer %}
		{{ html::comment(comment = 'Landing footer block') }}
		{{ footer::footer() }}
		{% endblock footer %}
	</div>
</section><!-- /hero is-fullwidth is-overlay has-background -->
<!-- /landing.html/content -->
{% endblock content %}

{% block basefooter %}
<!-- No base footer -->
{% endblock basefooter %}
