{% extends 'base.html' %}

{%- block body %}
{{- html::block(block = 'landing.html/body') }}
{{- html::body(class = '') }}
{{- html::endblock(block = 'landing.html/body') }}
{%- endblock body %}

{%- block navbar %}
{{- html::block(block = 'landing.html/navbar') }}
<!-- [No default navbar] -->
{{- html::endblock(block = 'landing.html/navbar') }}
{%- endblock navbar %}

{%- block content %}
{{- html::block(block = 'landing.html/content') }}
<section class="hero is-halfwidth is-fullheight has-background-hexagon">
	<!-- Hero head: will stick at the top -->
	<div class="hero-head">
		{{ navbar::navbar(padding=false, is_hero=true) }}
	</div><!-- /hero-head -->

	<!-- Hero content: will be in the middle -->
	<div class="hero-body">
		<div class="container has-text-centered">
			{# <p class="hero-title">{{ head::title() }}</p> #}
			{{ image::svg(image='landing') }}
			<p class="hero-subtitle">{{ head::description() }}</p>
		</div><!-- /container -->
	</div><!-- /hero-body -->

	<!-- Hero footer: will stick at the bottom -->
	{# <div class="hero-foot">
		{{ html::comment(comment = 'Landing footer block') }}
		{{ footer::footer() }}
	</div> #}
	<section class="content mb-6 mx-6">

		<div class="content article-body">
			{%- if section.title %}
			<!-- section.title -->
			{{ section.title | safe }}
			<!-- /section.title -->
			{%- endif %}
		</div><!-- /content article-body -->
		<div class="columns is-centered">
			<div class="column is-two-thirds">
				{%- if section.content %}
				{{ section.content | safe }}
				{%- endif %}
			</div><!-- /column is-half -->
		</div><!-- /columns is-centered -->
	</section><!-- /content -->
</section><!-- /hero is-fullwidth is-overlay has-background -->
{{- html::endblock(block = 'landing.html/content') }}
{%- endblock content %}
