{% extends 'base.html' %}

{% block navbar %}
{{ navbar::navbar(padding = false) }}
{% endblock navbar %}

{% block content %}
<!-- landing.html/content -->
<div class="hero is-fullwidth is-overlay has-background">
	<img alt="" class="hero-background is-transparent" src="{{ get_url(path = 'image/background-stretched-square.svg') }}" />
	<!-- Hero head: will stick at the top -->
	<div class="hero-head">

	</div>

	<!-- Hero content: will be in the middle -->
	<div class="hero-body">
		<div class="container has-text-centered">
			<p class="title">{{ section.title }}</p>
			{# <p class="subtitle">{{ section.subtitle }} #}
				{# {{ page.subtitle }} #}
			</p>
		</div>
	</div>

	<!-- Hero footer: will stick at the bottom -->
	<div class="hero-foot">
		<nav class="tabs">
			<div class="container">
				<ul>
					<li class="is-active"><a>Overview</a></li>
					<li><a>Modifiers</a></li>
					<li><a>Grid</a></li>
					<li><a>Elements</a></li>
					<li><a>Components</a></li>
					<li><a>Layout</a></li>
				</ul>
			</div>
		</nav>
	</div>
</div>
<div class="content article-body">
	{{ section.content | safe }}
</div><!-- /content -->
<!-- /landing.html/content -->
{% endblock content %}
