{% import "macro/insert.html" as insert %}
{% import "macro/blog.html" as blog %}


{% macro head() %}
{#- Page title #}
{%- set title = config.title | default(value='⚠️ No Title for this language') %}
{%- if page.title %}
{%- set title = title ~ ' &middot; ' ~ page.title | safe %}
{%- endif %}

{#- Page description #}
{%- set description = config.description | default(value=page.description) %}

{#- Timestamp #}
{%- set updated_time = now(utc = true) | date(format = '%+') %}
{%- set local_time = now(utc = false) | date(format = '%Y-%m-%d %H:%M') %}

<!-- Generated: {{ local_time }} -->

<!-- base::head() -->
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta property="og:updated_time" content="{{ updated_time }}" />

	{#- Title #}
	<title>{{ title | safe }}</title>
	<meta property="og:title" content="{{ title | safe }}">

	{#- Progressive Web Application #}
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	{#- Description #}
	<meta name="description" content="{{ description }}" />
	<meta property="og:description" content="{{ description }}">

	{#- Application icon #}
	<link rel="icon" sizes="any" href="{{ get_url(path='appicon/favicon.ico', cachebust = true) }}" />
	<link rel="apple-touch-icon" href="{{ get_url(path='appicon/icon-180x180.png', cachebust = true) }}" />
	<link rel="manifest" href="{{ get_url(path='appicon/manifest.json', cachebust = true) }}" />
	<link rel="icon" type="image/svg+xml" href="{{ get_url(path='appicon/icon.svg', cachebust = true) }}" />

	{#- Stylesheet #}
	<link rel="stylesheet" href="{{ get_url(path='css/vyolet.css', cachebust = true) }}" />

	{#- Markdown highlighter #}
	{%- if config.markdown.highlight_code %}
	<link id="syntax_highlight" href="#" rel="stylesheet">
	{% endif %}

	{#- Scripts -#}
	<script src="{{ get_url(path='js/vyolet.js', cachebust = true) }}"></script>

	{#- Feed #}
	{%- if config.generate_feed %}
	<link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path='atom.xml') | safe }}">
	{% endif %}


</head><!-- /base::head -->
{% endmacro head %}


{% macro title() %}
{%- set title = config.title %}
{%- if page.title %}
{%- set title = config.title ~ ' &middot; ' ~ page.title %}
{%- endif %}
{{- title | safe }}
{%- endmacro title %}


{% macro navbar(padding) %}
{#- If padding is true: use the "section" class to add padding below the navbar -#}
<!-- base::navbar() -->
<header class="header">
	{%- if padding %}<section class="section">{% endif %}
		<nav class="navbar is-fixed-top is-hoverable has-shadow"
			aria-label="main navigation">
			<div class="navbar-brand">
				<a class="navbar-item" href="{{ config.base_url | safe }}">
					{{ insert::logotype(header = true) }}
				</a>
				<a role="button" class="navbar-burger" aria-label="menu"
					aria-expanded="false"
					data-target="navbarMenu">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div><!-- /navbar-brand -->
			<div id="navbarMenu" class="navbar-menu">
				<div class="navbar-start">
					{%- if config.extra.header_menu %}
					{%- set navbar_item_class = 'navbar-item' %}
					{%- for menu in config.extra.header_menu %}
					{%- if current_url %}
					{%- set url = menu.url | replace(from = '$BASE_URL', to = config.base_url) %}
					{%- set url = url ~ '/' %}
					{%- if current_url is containing('/' ~ menu.url) %}
					{%- set navbar_item_class = 'navbar-item is-active' %}
					{%- endif %}
					{%- endif %}
					<a class="{{ navbar_item_class }}" href="/{{ menu.url }}">{{ menu.name }}</a>
					{%- endfor %}
					{%- endif %}
				</div><!-- /navbar-start -->
				{%- if config.build_search_index %}
				<div class="navbar-item search-container js-only">
					<input class="input" id="search" type="search" placeholder="Search">
					<div class="search-results box">
						<div class="search-results__items"></div>
					</div><!-- /search-results -->
				</div><!-- /navbar-item -->
				{%- endif %}
				<div class="navbar-end">
					<div class="navbar-item">
						<div class="buttons">
							<button class="button is-primary" disabled>
								<strong>Log in</strong>
							</button>
						</div><!-- /buttons -->
					</div><!-- /navbar-item -->
				</div><!-- /navbar-end -->
			</div><!-- /navbar-menu -->
		</nav>
	{%- if padding %}</section>{% endif %}
</header>
<!-- /base::navbar -->
{% endmacro navbar %}


{%- macro plausible() %}
	<!-- base::plausible() -->
{%- if config.extra.plausible %}
{%- set plausible_script_path = config.extra.plausible_script_path | default(value='https://plausible.io/js/script.js') %}
	<script defer data-domain="{{ config.extra.plausible }}" src="{{ plausible_script_path | safe }}" crossorigin="anonymous"></script>
{%- endif %}
	<!-- /base::plausible -->
{% endmacro plausible -%}


{% macro footer() %}
<!-- base::footer() -->
<footer class="footer">
	<div class="columns is-flex-direction-row-reverse">

		<div class="column"><!-- column 3 -->
			<p class="menu-label">Project</p>
			<ul class="menu-list">
				<li><a href="{{ get_url(path='about') | safe }}">About</a></li>
				<li><a href="{{ get_url(path='blog') | safe }}">Blog</a></li>
			</ul>
		</div><!-- /column 3 -->
		<div class="column"><!-- column 2 -->
			<p class="menu-label">Resources</p>
			<ul class="menu-list">
				<li><a href="{{ get_url(path='docs') | safe }}">Documentation</a></li>
				{%- if config.extra.status %}
				<li><a href="{{ config.extra.status | safe }}">Status</a></li>
				{%- endif -%}
			</ul>
		</div><!-- /column 2 -->
		<div class="column"><!-- column 4 -->
			<p class="menu-label">Follow us</p>
			<p class="is-size-4">
				{%- if config.extra.linkedin %}
				<a href="https://www.linkedin.com/company/{{ config.extra.linkedin }}" rel="me">{{ insert::icon(image="linkedin") }}</a>
				{% endif -%}

				{%- if config.extra.github %}
				<a href="https://github.com/{{ config.extra.github }}" rel="me">{{ insert::icon(image="github") }}</a>
				{% endif -%}

				{%- if config.extra.mastodon %}
				<a href="{{ config.extra.mastodon | safe }}" rel="me">{{ insert::icon(image="mastodon") }}</a>
				{% endif -%}

				{%- if config.extra.twitter %}
				<a href="https://twitter.com/{{ config.extra.twitter }}" rel="me">{{ insert::icon(image="twitter") }}</a>
				{% endif -%}

				{%- if config.generate_feed %}
				<a href="{{ get_url(path='atom.xml') | safe }}">{{ insert::icon(image="rss") }} </a>
				{% endif -%}

				{%- if config.extra.mailto %}
				<a href="mailto:{{ config.extra.mailto }}">{{ insert::icon(image="mail") }} </a>
				{%- endif %}
			</p>
		</div><!-- /column 4 -->

		<div class="column"><!-- column 1 -->
			<p class="has-text-centered is-size-3">
				<span class="icon-text">
					<span class="logotype">{{ insert::icon(image="ystorian") }}{{ config.title }}</span>
				</span>
			</p>
			<p class="has-text-centered is-size-7">
				<a href="/privacy">Privacy</a> &amp;
				<a href="/security">Security</a>
			</p>
			<p class="has-text-centered is-size-7">Made with 💜</p>
			<p class="has-text-centered is-size-7"><a href="https://www.infomaniak.com/goto/en/home?utm_term=617a889a54450">Hosted in 🇨🇭 by Infomaniak</a></p>
		</div><!-- /column 1 -->
	</div><!-- /columns -->
</footer>
<!-- /base::footer -->
{% endmacro footer %}
