{% macro footer() %}
<!-- footer::footer() -->
<footer class="footer is-unselectable">
<div class="columns is-flex-direction-row-reverse">

{#- Columns are reverse order to show the main column last on mobile #}
{{ footer::right_column() }}
{{ footer::middle_column() }}
{{ footer::left_column() }}
{{ footer::main_column() }}

</div><!-- /columns -->
</footer>
<!-- /footer::footer -->
{% endmacro footer %}


{% macro main_column() %}
<!-- footer::main_column() -->
<div class="column">
	<p class="has-text-centered-mobile is-size-3 is-size-1-mobile">
		{{ image::logotype(header = false) }}
	</p>
	<p class="has-text-centered-mobile has-text-weight-light is-size-6 mt-1">{{ head::description() }}</p>
	<p class="has-text-centered-mobile is-size-7 mt-4">{{ trans(key = 'made', lang = lang) }}</p>
</div>
<!-- /footer::main_column -->
{% endmacro main_column %}


{% macro left_column() %}
<!-- footer::left_column() -->
<div class="column">
	<p class="{{ footer::menu_label() }}">{{ trans(key = config.extra.left_column_label, lang = lang) }}</p>
	<ul class="{{ footer::menu_list() }}">
	{%- for item in config.extra.left_column %}
	<li><a href="{{ get_url(path = item.url, lang = lang) }}">{{ trans(key = item.key, lang = lang) }}</a></li>
	{%- endfor %}
	</ul>
	<p class="{{ footer::menu_label() }} is-hidden-mobile">{{ trans(key = 'follow_us', lang = lang) }}</p>
	<p class="is-size-4 is-size-3-mobile has-text-centered-mobile">
	{%- if config.extra.linkedin %}
		<a href="https://www.linkedin.com/{{ config.extra.linkedin }}" rel="me">{{ image::icon(icon = 'linkedin') }}</a>
	{% endif -%}
	{%- if config.extra.github %}
		<a href="https://github.com/{{ config.extra.github }}" rel="me">{{ image::icon(icon = 'github') }}</a>
	{% endif -%}
	{%- if config.extra.mastodon %}
		<a href="{{ config.extra.mastodon | safe }}" rel="me">{{ image::icon(icon = 'mastodon') }}</a>
	{% endif -%}
	{%- if config.generate_feed %}
		<a href="{{ get_url(path = 'atom.xml') | safe }}">{{ image::icon(icon = 'rss') }} </a>
	{% endif -%}
	{%- if config.extra.mailto %}
		<a href="mailto:{{ config.extra.mailto }}">{{ image::icon(icon = 'mail') }} </a>
	{%- endif %}
	</p>
</div>
<!-- /footer::left_column -->
{% endmacro left_column %}


{% macro middle_column() %}
<!-- footer::middle_column() -->
<div class="column">
	<p class="{{ footer::menu_label() }}">{{ trans(key = config.extra.middle_column_label, lang = lang) }}</p>
	<ul class="{{ footer::menu_list() }}">
	{%- for item in config.extra.middle_column %}
		{%- if item.url is starting_with('http') %}
		<li><a href="{{ item.url | safe }}">{{ trans(key = item.key, lang = lang) }}</a></li>
		{%- else %}
		<li><a href="{{ get_url(path = item.url, lang = lang) }}">{{ trans(key = item.key, lang = lang) }}</a></li>
		{%- endif %}
	{%- endfor %}
	</ul>
</div>
<!-- /footer::middle_column() -->
{% endmacro middle_column %}


{% macro right_column() %}
<!-- footer::right_column() -->
<div class="column">
	<p class="{{ footer::menu_label() }}">{{ trans(key = config.extra.right_column_label, lang = lang) }}</p>
	<ul class="{{ footer::menu_list() }}">
	{%- for item in config.extra.right_column %}
		{%- if item.url is starting_with('http') %}
		<li><a href="{{ item.url | safe }}">{{ trans(key = item.key, lang = lang) }}</a></li>
		{%- else %}
		<li><a href="{{ get_url(path = item.url, lang = lang) }}">{{ trans(key = item.key, lang = lang) }}</a></li>
		{%- endif %}
	{%- endfor %}
	</ul>
</div>
<!-- /footer::right_column -->
{% endmacro right_column %}


{% macro menu_label() %}
menu-label is-size-7 has-text-weight-semibold has-text-grey-light
{%- endmacro menu_label %}

{% macro menu_list() %}
menu-list is-size-6 is-size-5-mobile
{%- endmacro menu_list %}
