{%- macro logotype(width=128) %}
{{- html::macro(macro = 'image::logotype(' ~ width ~ ')') }}
{%- set height = width / 4 %}
{%- set svg = load_data(path = 'image/logotype.svg') %}
{%- set svg = svg | replace(from = '<svg ', to = '<svg width=' ~ width ~ ' height=' ~ height ~ ' ') %}
<span class="logotype">
{{ svg | trim | safe}}
</span><!-- /logotype -->
{{- html::endmacro(macro = 'image::logotype') }}
{%- endmacro logotype %}


{%- macro icon(icon='error') %}
{{- html::macro(macro = 'image::icon(' ~ icon ~ ')') }}
{%- set svg_data = load_data(path = 'icon/' ~ icon ~ '.svg', required=false) %}
{%- if not svg_data %}
{%- set svg_data = load_data(path = 'icon/error.svg') %}
{%- endif %}
<span class="svg-icon">
{{ svg_data | trim | safe}}
</span><!-- /svg-icon -->
{{- html::endmacro(macro = 'image::icon') }}
{%- endmacro icon %}


{%- macro svg(image='not_found') %}
{{- html::macro(macro = 'image::svg(' ~ image ~ ')') }}
{%- set svg = load_data(path = 'image/' ~ image ~ '.svg') %}
{{ svg | trim | safe}}
{{- html::endmacro(macro = 'image::svg') }}
{%- endmacro svg %}

{# This macro is not used #}
{%- macro svg_xml_url(image='not_found') %}
{%- set svg = load_data(path = 'image/' ~ image ~ '.svg') %}
url("data:image/svg+xml,{{ svg | trim | urlencode }}")
{%- endmacro svg_xml_url %}
