{%- macro logo(width=16, height=16) %}
{# Source: /static/image/ #}
	<!-- insert::logo() -->
	{%- set svg = load_data(path="image/" ~ image ~ ".svg") -%}
	<!-- {{ image }}.svg --><span class="svg-icon">{{ svg | trim | safe}}</span>
	<!-- /insert::logo -->
{% endmacro logo -%}

{%- macro logotype(header=false) %}
	<!-- insert::logotype() -->
	{%- set svg = load_data(path="image/logotype.svg") -%}
	<span class="svg-logotype">{{ svg | trim | safe}}</span>
	<!-- /insert::logotype -->
{% endmacro logotype -%}


{%- macro icon(image="not_found") %}
{%- set svg = load_data(path="image/" ~ image ~ ".svg") -%}
<!-- {{ image }}.svg --><span class="svg-icon">{{ svg | trim | safe}}</span>
{%- endmacro icon -%}
