{%- macro logo(width=16, height=16) %}
{# Source: /static/image/ #}
	<!-- insert::logo() -->
	{%- set svg = load_data(path="image/" ~ image ~ ".svg") -%}
	<!-- {{ image }}.svg --><span class="svg-icon">{{ svg | trim | safe}}</span>
	<!-- /insert::logo -->
{% endmacro logo -%}

{%- macro logotype(header=false) %}
	<!-- insert::logotype() -->
	{%- set svg = load_data(path="image/logotype.svg") -%}
	{%- set svg = svg | replace(from="<svg ", to="<svg height=32 width=128 ") -%}
	<span class="svg-logotype">{{ svg | trim | safe}}</span>
	<!-- /insert::logotype -->
{% endmacro logotype -%}


{%- macro icon(image="not_found") %}
{%- set svg = load_data(path="image/" ~ image ~ ".svg") -%}
{%- set svg = svg | replace(from="<svg ", to="<svg height=32 width=32 ") -%}
<!-- {{ image }}.svg --><span class="svg-icon">{{ svg | trim | safe}}</span>
{%- endmacro icon -%}
