{% macro selector() %}
{%- if config.extra.header_languages is defined %}
{%- set url = current_path | default(value = '') %}
{%- set url = url | replace(from = '/' ~ lang ~ '/', to = '') %}
{%- endif %}
<!-- language::selector()
	current_path: {{ current_path | default(value = "") | safe }}
	url: {{ url | safe }} -->
<div class="navbar-item has-dropdown is-hoverable">
	<a class="navbar-link is-arrowless" href="">{{- image::icon(icon = 'globe') -}}</a>
	<div class="navbar-dropdown is-boxed">
	{%- for language in config.extra.header_languages %}
		{%- set active = "" %}
		{%- if language.lang == lang %}{% set active = ' is-active' %}{% endif %}
		<a class="navbar-item{{ active }}" href="{{ get_url(path = url, lang = language.lang, trailing_slash = false) }}">{{ language.name }}</a>
	{%- endfor %}
	</div><!-- /navbar-dropdown -->
</div><!-- /navbar-item -->
<!-- /language::selector() -->
{% endmacro selector %}


{%- macro translated_notice(lang) %}
<!-- language::translated_notice() -->
<article class="message is-small">
	<div class="message-body">{{ trans(key = 'translated', lang = lang) }}
	</div><!-- /message-body -->
</article><!-- /message -->
<!-- /language::translated_notice -->
{%- endmacro translated_notice -%}


{%- macro page_has_content() %}
{%- if page.content is defined and page.content | length > 0 %}
true
{%- endif %}
{%- endmacro page_has_content -%}


