{%- macro navbar_dropdown() %}
{{- html::macro(macro = 'language::navbar_dropdown') }}
{%- if config.extra.header_languages is defined %}
{%- set url = current_path | default(value = '') %}
{%- set url = url | replace(from = lang ~ '/', to = '') | trim_start_matches(pat='/')%}
{%- endif %}
<!--
	current_path: {{ current_path | default(value = '') | safe }}
	url: {{ url | safe }}
-->
<div class="navbar-item has-dropdown is-hoverable">
	<a aria-label="Language" class="navbar-link is-arrowless is-hidden-mobile" href="">
		{{- image::icon(icon = 'globe') }}
		{{ lang }}
	</a>
	<div class="navbar-dropdown is-boxed is-right">
		<hr class="navbar-divider is-hidden-tablet">
		<div class="navbar-item is-hidden-tablet is-info">
			{{- image::icon(icon = 'globe') }}
			Language
		</div><!-- /navbar-item -->
{%- for language in config.extra.header_languages %}
	{%- set active = '' %}
	{%- if language.lang == lang %}
	{%- set active = ' is-active' %}
	{%- endif %}
	<a class="navbar-item{{ active }}" href="{{ get_url(path = url, lang = language.lang, trailing_slash = false) }}">{{ language.name }}</a>
{%- endfor %}
	</div><!-- /navbar-dropdown -->
</div><!-- /navbar-item -->
{{- html::endmacro(macro = 'language::navbar_dropdown') }}
{%- endmacro navbar_dropdown %}


{# This macro is not used #}
{%- macro language_switcher() %}
{{- html::macro(macro = 'language::language_switcher') }}
{%- set languages = 1 %}
{%- for language_name, language in config.languages %}
	{%- set_global languages = languages + 1 %}
{%- endfor %}
{%- if languages > 1 %}
<div id="language-switch">
	<button onclick="showLanguages()" aria-label="show languages"><i class="fas fa-globe"></i></button>
	<div id="languages" style="display: none">
	{%- for language_name, language in config.languages %}
	{%- set url = get_url(path = 'about/_index.md', lang = language_name) | trim_end_matches(pat = 'about/') %}
	<a onclick="window.location.href='{{ url }}'">{{ trans(key = 'language_name', lang = language_name) }}</a>
	{%- endfor %}
	</div>
</div>
{%- endif %}
{{- html::endmacro(macro = 'language::language_switcher') }}
{%- endmacro language_switcher %}
