{%- macro navbar(padding=true, is_hero=true) %}
{#- If padding is true: use the "section" class to add padding below the navbar #}
<!-- navbar::navbar() -->
{%- if is_hero == false %}
<div class="is-fixed-top-placeholder"></div>
{%- endif %}
<header class="header is-unselectable">
{%- if padding %}
<section class="section">
{%- endif %}
{%- if is_hero %}
<nav class="navbar is-hoverable" aria-label="main navigation">
{%- else %}
<nav class="navbar is-fixed-top is-hoverable has-shadow" aria-label="main navigation">
{%- endif %}

<!-- navbar-brand -->
<div class="navbar-brand">
	<a class="navbar-item" href="{{ get_url(path = '/', lang = lang, trailing_slash = false) | safe }}">
		{{- image::logotype(width = 128) }}
	</a>
	{{ navbar::burger() }}
</div><!-- /navbar-brand -->

<!-- navbar-menu -->
<div id="navbarMenu" class="navbar-menu">
	{{ navbar::menu_items() }}
	{{ navbar::search() }}
	<!-- navbar-end -->
	<div class="navbar-end">
	{{ language::navbar_dropdown() }}
	{{ navbar::buttons() }}
	</div><!-- /navbar-end -->
</div>

</nav><!-- /navbar {{ navbar_class }} -->

{%- if padding %}
</section><!-- /{{ padding_string }} -->
{%- endif %}

</header>
{{- html::endmacro(macro = 'navbar::navbar') }}
{%- endmacro navbar %}


{%- macro burger() %}
{{- html::macro(macro = 'navbar::burger') }}
<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
	data-target="navbarMenu"><span aria-hidden="true"></span>
	<span aria-hidden="true"></span><span aria-hidden="true"></span></a>
{{- html::endmacro(macro = 'navbar::burger') }}
{%- endmacro burger %}


{%- macro menu_items() %}
{{- html::macro(macro = 'navbar::menu_items') }}
<div class="navbar-start">
	{%- if config.extra.navbar_menu %}
	{%- for item in config.extra.navbar_menu %}
		{%- set navbar_item_class = 'navbar-item' %}
		{%- if current_path is defined and current_path is containing(item.url) %}
		{%- set navbar_item_class = 'navbar-item is-active' %}
		{%- endif %}
		<a class="{{ navbar_item_class }}" href="{{ get_url(path = item.url, lang = lang ) }}">{{ trans(key = item.key, lang = lang) }}</a>
	{%- endfor %}
	{%- endif %}
</div><!-- /navbar-start -->
{{- html::endmacro(macro = 'navbar::menu_items') }}
{%- endmacro menu_items %}


{%- macro search() %}
{{- html::macro(macro = 'navbar::search') }}
{%- if config.build_search_index %}
<div class="navbar-item search-container js-only">
	<input class="input" id="search" type="search" placeholder="Search">
	<div class="search-results box">
		<div class="search-results__items"></div>
	</div><!-- /search-results -->
</div><!-- /search-container -->
{%- else %}
<!--	[disabled] -->
{%- endif %}
{{- html::endmacro(macro = 'navbar::search') }}
{%- endmacro search %}


{%- macro buttons() %}
{{- html::macro(macro = 'navbar::buttons') }}
{%- if config.extra.navbar_buttons %}
{%- for item in config.extra.navbar_buttons %}
	{%- set class = 'button' %}
	{%- if item.primary == true %}
	{%- set class = class ~ ' is-primary' %}
	{%- endif %}
	{%- if item.disabled == true %}
	{%- set disabled = 'disabled' %}
	{%- endif %}
	<div class="navbar-item">
		<div class="buttons">
			<button class="{{ class }}" href="{{ item.url }}" {{ disabled }}>
				<strong>{{ trans(key = item.key, lang = lang) }}</strong>
			</button>
		</div><!-- /buttons -->
	</div><!-- /navbar-item -->
{%- endfor %}
{%- else %}
<!--	[disabled] -->
{%- endif %}
{{- html::endmacro(macro = 'navbar::buttons') }}
{%- endmacro buttons %}
