{%- macro plausible() %}
	<!-- script::plausible() -->
	{%- if config.extra.plausible_data_domain %}
	{%- set plausible_script_path = config.extra.plausible_script_path | default(value = 'https://plausible.io/js/script.js') %}
	{%- set plausible_data_api = '' %}
	{%- if config.extra.plausible_data_api %}
	{%- set plausible_data_api = 'data-api="' ~ config.extra.plausible_data_api ~ '"' %}
	{%- endif %}
	{#- // https://plausible.io/docs/custom-event-goals #}
	<script defer data-domain="{{ config.extra.plausible_data_domain | safe }}" src="{{ plausible_script_path | safe }}" {{ plausible_data_api | safe }}></script>
	{#- // https://plausible.io/docs/error-pages-tracking-404 #}
	{%- if head::is_404() %}
	<!-- script::plausible/404 -->
	<script>
		window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) };
	</script>
	<script>
		plausible("404", {props: {path: document.location.pathname} });
	</script>
	<!-- /script::plausible/404 -->
	{%- endif %}
	{%- endif %}
	<!-- /script::plausible -->
{%- endmacro plausible -%}


{% macro show_native() %}
	<script>
	// This is injected into the HTML head only when a non-templated page is
	// generated, typically a static 404 page. This script will show only the
	// native language div if the browser language matches the language of
	// the page, and hide the English div.

	document.addEventListener("DOMContentLoaded", function() {
		// Get the language code of the browser
		const language = navigator.language;

		// Remove the region and lowercase the language code.
		const language_code = language.split('-')[0].toLowerCase();

		// Get the language elements with the user's language (<div lang="##">).
		const language_elements = document.querySelectorAll(`div[lang="${language_code}"]`);

		// Loop through the elements and unhide them.
		language_elements.forEach((element) => {
			element.classList.remove('is-hidden');
		});

		// Hide the English div if another div is unhidden.
		if (language_elements.length > 0 && language_code !== 'en') {
			document.querySelector('div[lang="en"]').classList.add('is-hidden');
		}
	});
	</script>
{% endmacro show_native %}
